.emoji-mart .emoji-mart-emoji {
  cursor: pointer;
  outline: none;
}

.emoji-mart .emoji-mart-emoji:focus {
  border-radius: 3px;
  background-color: #d39eff;
}

.emoji-mart-anchor {
  display: flex;
  justify-content: center;
}

.emoji-mart-category-label {
  position: relative;
}

.emoji-mart-category .emoji-mart-emoji span {
  cursor: pointer;
}

.emoji-mart-category .emoji-mart-emoji:hover::before {
  border-radius: 3px;
  background-color: #d39eff;
}
